  .search_inner {
    border:solid 5px;
    border-radius: 10px;
  }
  
  .search_result {
    width: 100%;
  }
  
  .search_form_table {
    width:100%;
  }
  .search_form_table th{
    width:30%;
    padding-top:5px;
    padding-bottom: 5px;
    text-align: center;
  }
  .search_form_table td{
    width:70%;
  }
  
  .search_form_table select {
    height:25px;
  }

  .search_button {
    width:175px;
    height: 30px;
    border-radius:15px;
    background-color:ivory;
  }
  
  .search_result {
    text-align:center;
  }
  
  .search_result td{
    border-top:solid 1px;
    font-size: 16px;
/*    font-weight: bold;*/
    color: white;
    letter-spacing: 1px;
    padding: 2px 0px 2px 0px;
  }
  
  .search_result_header {
    background-color: indianred;
  }
  .search_result_header_left {
    border-top-left-radius: 5px;
  }
  .search_result_header_right {
    border-top-right-radius: 5px;
  }


  .spot_inner {
    border:solid 5px;
    border-radius: 10px;
  }
  .spot_table {
    text-align:center;
    width:100%;
  }
  .spot_table th{
    background-color: indianred;
    text-align:center;
    border-top : solid 1px;
    border-bottom : solid 1px;
    width: 120px;
  }

  .spot_table td{
    border-top:solid 1px;
    border-bottom : solid 1px;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    padding: 2px 0px 2px 5px;
    text-align: left;
  }
  .spot_table_header {
    background-color: indianred;
  }
  .spot_table_header_top_left {
    border-top-left-radius: 5px;
  }
  .spot_table_header_bottom_left {
    border-bottom-left-radius: 5px;
  }
  
  #sub .ad_zone {
    border:solid 1px;
    margin-top:5px;
    margin-bottom:5px;
    background-color:white;
    color:black;
    height:45px;
    text-align:center;
  }
  